.ui{
	position:absolute;
	left:2.5%;
}

.march{
	top:15%;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}

.shape{
	top:25%;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}

.title{
	text-align: center;
	left:62.5vh;
	text-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
	font-size: 35px;
}

.source{
	font-size: 150px;
	left:88%;
	top:75%;
	text-align: center;
	padding-bottom: 5px; 
	border-radius: 75px;
	width: 145px;
	height: 145px;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}

.render{
	width:100%;
	height:40%;	
}

@media only screen and (max-device-width: 768px) {
	
	.title{
		font-size: 60px;
		left:0vh;	
	}
	
	.source{
		font-size: 300px;
		left:0vh;
		top:75vh;
		text-align: center;
		padding-bottom: 5px; 
		border-radius: 150px;
		width: 295px;
		height: 295px;
	}
	
	.march{
		top:65vh;
		height:40px;
		left: 22.5vh;
	}
	
	.shape{
		left: 0vh;
		top:65vh;
		font-size:40px;
	}
	
	.render{
		position:absolute;
		top: 12.5vh;	
	}
	
}


a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}

a:active {
    color: black;
}